.logo {
    width: 136px;
    height: 148px;
}

.font {
    font-size: 65px;
    font-family: "Bubblegum Sans"
}

#main-container {
    margin-top: auto;
    margin-bottom: auto;
}

body {
    min-height: 100vh;
}

#button {
    color: white;
    background: #314BCE;
    border-color: #314BCE;
    border-radius: 8px;
}